#gameboard {
    display: flex;
}
.box,.ships {
    border: 2px solid black;
}

.hit {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ships {
    margin-left: 2px;
}

.sunk {
    background-color: red;
}